:root {
    --cor-1: #281103;
    --cor-2: #41210a;
    --cor-3: #764c24;
    --cor-4: #c0855b;
    --cor-5: #e6c9ab;
    --cor-6: #eee3d0;
}

*{
    color: var(--cor-1);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: var(--cor-5);
}

#topo {
    background: var(--cor-3);
}

.nav-logo {
    color: var(--cor-6);
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding: 5px;
}

.nav-links li a {
    color: var(--cor-6);
    font-size: 1.3em;
    text-decoration: none;
    padding: 0px 10px;
}

.nav-links li a:hover {
    color: var(--cor-1);
    transition: .5s;
}

.parallax {
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.parallax h1 {
    font-family: 'Playfair Display', serif;
    background: var(--cor-5);
    color: var(--cor-2);
    width: 400px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20px;
}


.caixa1{
    background-image: url(img/g-1.jpg);
}

.caixa2{
    background-image: url(img/g-2.jpg);
    height: 700px;
}

.caixa3{
    background-image: url(img/g-3.png);
    height: 700px;
}

.caixa4{
    background-image: url(img/g-4.png);
    height: 400px;
}


.conteudo {
    padding: 20px;
}

.conteudo p {
    margin-top: 30px;
    font-size: 1.2em;
}

.rounded-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.rounded-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-menu{
    width: 100%;
}

.btn-menu{
    font-family: 'Playfair Display', serif;
    background: var(--cor-2);
    color: var(--cor-6);
    font-size: 1.2em;
    padding: 10px 90px;
}

.btn-menu:hover{
    background: var(--cor-6);
    color: var(--cor-2);
    transition: .6s;
}



.box {
    width: 350px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    background: var(--cor-6);
    border-radius: 10px;
}

.box-mapa{
    width: 845px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background: var(--cor-6);
    border-radius: 10px;
}

iframe{
    width: 78%;
    height: 100%;
}



footer {
    background-color: var(--cor-3);
    padding: 50px 0px 20px 0px;
}

h4{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}

footer p{
    color: var(--cor-6);
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .parallax h1 {
        width: 300px;

    }

    .nav-logo {
        font-size: 2em;

    }

    .nav-links li a {
        font-size: 1em;

    }
}

/* Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .rounded-circle {
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .conteudo p {
        margin-top: 80px;
    }
}

@media (min-width: 1200px) {
    .conteudo p {
        margin-top: 80px;
    }

    #carouselExampleInterval img{
        height: 750px;
    }
    
}

